<div class=container>
  <div class="row">
    <div class="col-md-4">

      <%= render 'user',user: @user %>
      <%= render 'book',book: @book %>
    </div>

    <div class="col-md-7 offset-md-1">
    
    <h1>book detail<h1>
    <%= form_with model: @book do |f| %>
      <h4>画像<h4>
      <%= f.file_field :image, accept: "image/*" %>
      <h4>本のタイトル<h4>
      <%= f.text_field :title %>
      <h4>感想</h4>
      <%= f.text_area :body %>
      <%= f.submit 'Create Book' %>
    <% end %>
    <%= link_to 'Back', 'javascript:history.back()'%>
      <%=link_to "show",book_path(@book) %>
    </div>
  </div>
</div>
    
